@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    #ffffff 45%,
    #fff0ed 45%,
    #fff0ed 100%
  );
}

@media(max-width: 763px) {
  .gradient {
    background: linear-gradient(
      180deg,
      #ffffff 0%,
      #ffffff 20%,
      #fff0ed 20%,
      #fff0ed 100%
    );
  }
}
